# macOS
.DS_Store
*.swp
*.swo
*~

# Xcode
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcshareddata/
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
Package.resolved
.swiftpm/

# Build
build/
*.app
*.ipa
*.dSYM

# IDE
.vscode/
.idea/
*.sublime-*

# Misc
*.log
